* {
    box-sizing: border-box;
}




body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}


    .navbar {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,.1); 
    }
    .navbar-brand {
        font-weight: 600; 
        color: #007bff;
    }
    .nav-item .nav-link {
        color: #007bff; 
    }
    .nav-item .nav-link:hover {
        color: #0056b3; 
    }



    /* video */
  
    .video-container {
        position: relative;
        width: 100%; 
        height: 60vh; 
        margin-left: auto; 
        margin-right: auto; 
        overflow: hidden; 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
        border-radius: 1px; 
        z-index: 1;
    }
    
    .background-video {
        width: 100%; 
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        object-fit: cover; 
    }
    




    /* header-introduction-work button */
    .custom-table {
        width: 100%;
        margin-top: 2rem;
        border-collapse: collapse;
    }
    
    .container {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px; 
        margin: auto;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .custom-table img {
        width: 100px; 
        height: auto;
        display: block;
        margin: 0 auto; 
        border-radius: 50%; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    }
    
    .container img.img-fluid {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 10px;
        transition: opacity 0.5s ease-in-out; 
    }
    
    .container:hover img.img-fluid {
        transition: opacity 0.5s ease-in-out;
    }

    .profile-section {
        background-color: #f8f9fa; 
        border-radius: 15px; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
    .profile-image-container img.img-fluid {
        max-width: 100%;
        height: auto;
        border-radius: 15px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
    
    .rounded-image {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 15px; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    }
    
    .profile-text-container {
        text-align: center;
        padding: 20px;
        font-family: 'Poppins', sans-serif; /* Consistent font for readability */
    }
    
    .greeting {
        color: #102C57; 
        font-family: 'Montserrat', sans-serif; 
    }
    
    .introduction, .contact {
        color: #00060f; 
        font-size: 1em; 
    }
    
    .work-with-me-btn {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1rem;
        color: #FFFFFF; 
        background-color: #102C57; 
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
    }
    
 
    
    .contact {
        font-size: 0.9rem;
        line-height: 1.5; /* Improving readability */
    }
    


.smaller-image {
    max-width: 50%; 
    max-height: 50vh;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}


/* ABOUT ME */
.about-me-section {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    padding: 40px; 
    
}

.col {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.profile-image {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #E1E1E1; 
}

.about-me-content {
    padding: 0 20px; 
    text-align: left; 
    background-color: #f8f9fa; 
}

.header-section h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 32px; 
    font-weight: 600; 
    margin-bottom: 20px;
}

.name, .location, .email, .phone {
    color: #333; 
    line-height: 1.4; 
    font-size: 18px;
    margin: 10px 0;
}

.email a {
    color: #0056b3;
    text-decoration: none;
    font-weight: 500;
}

.email a:hover {
    color: #102C57; 
    text-decoration: underline; 
}

.summary-section {
    color: #333;
    font-size: 16px; 
    margin-top: 20px;
}

.btn {
    background-color: #0056b3; 
    color: #FFFFFF;
    padding: 15px 30px; 
    font-weight: 600; 
    border-radius: 30px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #003970; 
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

input, textarea {
   
    padding: 15px; 
    margin-bottom: 20px; 
    font-size: 16px; 
   
    width: 100%;
    transition: border-color 0.2s, box-shadow 0.2s; 
}

input:focus, textarea:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.2); 
}

/* SOCIAL MEDIA */
.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.icon-container {
    display: inline-block;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff; 
    color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    transition: transform 0.3s ease;
}

.icon-container:hover {
    transform: scale(1.1); 
}


.icon-container.twitter:hover { color: #1DA1F2; }
.icon-container.instagram:hover { color: #C13584; }
.icon-container.facebook:hover { color: #3b5998; }
.icon-container.pinterest:hover { color: #E60023; }


.icon-container i {
    font-size: 20px; 
}


/* CONTACT ME */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
  }
  
  .contact-info, .contact-form {
    flex: 1;
    margin-right: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333333;
    font-size: 24px;
  }
  
  .info-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .info h3 {
    margin: 0;
    font-size: 18px;
    color: #007bff;
  }
  
  .info p {
    margin: 5px 0 0;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }








/* GRAPHIC */
.graphic-designs h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.graphic-card {
    background: #fff;
    color: #333;
    padding: 15px; 
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: calc(100% - 30px); 
    max-width: 300px; 
}

.graphic-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.graphic-overlay {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.graphic-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: auto; 
    max-width: 600px; 
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    margin: 0 10px; 
    text-align: center;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
}

.graphic-image {
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
    object-fit: cover; 
}

.graphic-text {
    text-align: left;
}


.graphic-card h2 {
    margin: 0 0 10px; /* Adjusted bottom margin */
    font-size: 1.2rem; /* Smaller font size */
}

.graphic-card p {
    margin: 0;
    font-size: 0.9rem; /* Smaller font size */
}


/* mobile */
.mobile-designs h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.mobile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.mobile-card {
    background: #fff;
    color: #333;
    padding: 15px; 
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: calc(100% - 30px); 
    max-width: 300px; 
}

.mobile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mobile-overlay {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.mobile-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: auto; 
    max-width: 600px; 
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    margin: 0 10px; 
    text-align: center;
}


.mobile-image {
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
    object-fit: cover; 
}

.mobile-text {
    text-align: left;
}


.mobile-card h2 {
    margin: 0 0 10px; 
    font-size: 1.2rem; 
}

.mobile-card p {
    margin: 0;
    font-size: 0.9rem; 
}



/* desktop */
.desktop-designs h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.desktop-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.desktop-card {
    background: #fff;
    color: #333;
    padding: 15px; 
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: calc(100% - 30px); 
    max-width: 300px; 
}

.desktop-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.desktop-overlay {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.desktop-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: auto; 
    max-width: 600px; 
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    margin: 0 10px; 
    text-align: center;
}


.desktop-image {
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
    object-fit: cover; 
}

.desktop-text {
    text-align: left;
}


.desktop-card h2 {
    margin: 0 0 10px; 
    font-size: 1.2rem; 
}

.desktop-card p {
    margin: 0;
    font-size: 0.9rem; 
}




/* website */
.website-designs h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2rem;
    color: #333;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.website-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.website-card {
    background: #fff;
    color: #333;
    padding: 15px; 
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: calc(100% - 30px); 
    max-width: 300px; 
}

.website-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.website-overlay {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.website-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: auto; 
    max-width: 600px; 
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    margin: 0 10px; 
    text-align: center;
}


.website-image {
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
    object-fit: cover; 
}

.website-text {
    text-align: left;
}


.website-card h2 {
    margin: 0 0 10px; 
    font-size: 1.2rem; 
}

.website-card p {
    margin: 0;
    font-size: 0.9rem; 
}


/* divider */
.divider {
    width: 90%;
    height: 2px; 
    background-color: #ccc; 
    margin: 20px auto; 
}




/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .about-me-section {
        padding: 30px;
    }

    .header-section h2 {
        font-size: 2rem; 
    }

    .summary-section h3 {
        font-size: 1.5rem;
    }

    .btn {
        padding: 10px 20px; 
    }

    .about-me-section li:hover {
        transform: translateX(0); 
    }
}

  
@media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .contact-info, .contact-form {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  @media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%; /* Full width of the container */
        height: auto; /* Auto height to maintain aspect ratio */
    }
}