* {
    box-sizing: border-box;
}




body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar-container {
    background-color: #fff;
}
    .navbar {
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0,0,0,.1); 
    }
    .navbar-brand {
        font-weight: 600; 
        color: #007bff;
    }
    .nav-item .nav-link {
        color: #007bff; 
    }
    .nav-item .nav-link:hover {
        color: #0056b3; 
    }



    /* video */
  
    .video-container {
        position: relative;
        width: 100%; 
        height: 60vh; 
        margin-left: auto; 
        margin-right: auto; 
        overflow: hidden; 
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
        border-radius: 1px; 
        z-index: 1;
    }
    
    .background-video {
        width: 100%; 
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        object-fit: cover; 
    }
    

.background-black{
    background-color: #f8f9fa;  
    max-width: 100%;
    height: 110%;
}


    /* header-introduction-work button */
    .custom-table {
        width: 100%;
        margin-top: 2rem;
        border-collapse: collapse;
    }
    
    .container {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px; 
        margin: auto;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    }

    .custom-table img {
        width: 100px; 
        height: auto;
        display: block;
        margin: 0 auto; 
        border-radius: 50%; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    }
    
    .container img.img-fluid {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 10px;
        transition: opacity 0.5s ease-in-out; 
    }
    
    .container:hover img.img-fluid {
        transition: opacity 0.5s ease-in-out;
    }

    .profile-section {
        background-color: #f8f9fa; 
        border-radius: 15px; 
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }
    
    .profile-image-container img.img-fluid {
        max-width: 100%;
        height: auto;
        border-radius: 15px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    }
    
    .rounded-image {
        max-width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 15px; 
        box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    }
    
    .profile-text-container {
        text-align: center;
        padding: 20px;
        font-family: 'Poppins', sans-serif; /* Consistent font for readability */
    }
    
    .greeting {
        color: #102C57; 
        font-family: 'Montserrat', sans-serif; 
    }
    
    .introduction, .contact {
        color: #00060f; 
        font-size: 1em; 
    }
    
    .work-with-me-btn {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 1rem;
        color: #FFFFFF; 
        background-color: #102C57; 
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease-in-out;
    }
    
 
    
    .contact {
        font-size: 0.9rem;
        line-height: 1.5; /* Improving readability */
    }
    


.smaller-image {
    max-width: 50%; 
    max-height: 50vh;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}


/* ABOUT ME */
.about-me-section {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    padding: 40px; 
    
}

.col {
    flex: 1;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.profile-image {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #E1E1E1; 
}

.about-me-content {
    padding: 0 20px; 
    text-align: left; 
    background-color: #f8f9fa; 
}

.header-section h2 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 32px; 
    font-weight: 600; 
    margin-bottom: 20px;
}

.name, .location, .email, .phone {
    color: #333; 
    line-height: 1.4; 
    font-size: 18px;
    margin: 10px 0;
}

.email a {
    color: #0056b3;
    text-decoration: none;
    font-weight: 500;
}

.email a:hover {
    color: #102C57; 
    text-decoration: underline; 
}

.summary-section {
    color: #333;
    font-size: 16px; 
    margin-top: 20px;
}

.btn {
    background-color: #0056b3; 
    color: #FFFFFF;
    padding: 15px 30px; 
    font-weight: 600; 
    border-radius: 30px; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #003970; 
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}

input, textarea {
   
    padding: 15px; 
    margin-bottom: 20px; 
    font-size: 16px; 
   
    width: 100%;
    transition: border-color 0.2s, box-shadow 0.2s; 
}

input:focus, textarea:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 0 3px rgba(0, 86, 179, 0.2); 
}

/* SOCIAL MEDIA */
.social-media-icons {
    display: flex;
    justify-content: center;
    gap: 10px; 
}

.icon-container {
    display: inline-block;
    width: 40px; 
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff; 
    color: #000000; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
    transition: transform 0.3s ease;
}

.icon-container:hover {
    transform: scale(1.1); 
}


.icon-container.twitter:hover { color: #1DA1F2; }
.icon-container.instagram:hover { color: #C13584; }
.icon-container.facebook:hover { color: #3b5998; }
.icon-container.pinterest:hover { color: #E60023; }


.icon-container i {
    font-size: 20px; 
}


/* CONTACT ME */
.contact-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;
  }
  
  .contact-info, .contact-form {
    flex: 1;
    margin-right: 20px;
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333333;
    font-size: 24px;
  }
  
  .info-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .info h3 {
    margin: 0;
    font-size: 18px;
    color: #007bff;
  }
  
  .info p {
    margin: 5px 0 0;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }








/* GRAPHIC */
    .graphic-designs h1 {
        font-size: 2.5rem;
        color: #333;
        font-weight: bold;
        text-align: center;
        margin-bottom: 1rem; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

.graphic-designs {
    padding: 1rem 0;
    background-color: #f9f9f9;
}

.graphic-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    justify-content: center;
    padding: 0 1.5rem;
}
.graphic-card {
    background: #ffffff;
    color: #333;
    padding: 1rem;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.graphic-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    transform: translateX(-50%) rotate(15deg);
    transition: transform 0.3s ease;
    pointer-events: none;
}

.graphic-card:hover:before {
    transform: translateX(-50%) rotate(25deg);
}

.graphic-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.graphic-overlay {
    display: none; 
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
}

.graphic-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: auto; 
    max-width: 900px; 
    max-height: 100vh;
    overflow-y: auto;
    position: relative;
    margin: 0 10px; 
    text-align: center;
    transition: all 0.5s ease;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    font-size: 24px;
    color: #ff9900; 
}

.graphic-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
    border-radius: 8px;
    border-radius: 5px; 
}

.graphic-card:hover .graphic-image {
    transform: scale(1.05);
}

.graphic-text {
    text-align: left;
}


.graphic-card h2, .graphic-card{
    margin: 0 0 10px; 
    font-size: 1.2rem; 
    padding: 0.5rem 0;
}

.graphic-card p {
    margin: 0;
    font-size: 0.9rem; 
}



.graphic-controls {
    text-align: center;
    margin: 1rem 0;
}

.prev-graphic,
.next-graphic {
    cursor: pointer;
    padding: 10px 15px;
    background-color: #102C57;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.prev-graphic:hover,
.next-graphic:hover {
    background-color: #0d3b66;
}



/* mobile */
.mobile-designs h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-designs {
padding: 1rem 0;
background-color: #f9f9f9;
}

.mobile-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 1.5rem;
justify-content: center;
padding: 0 1.5rem;
}
.mobile-card {
background: #ffffff;
color: #333;
padding: 1rem;
border-radius: 10px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
text-align: center;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.mobile-card:before {
content: '';
position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
transform: translateX(-50%) rotate(15deg);
transition: transform 0.3s ease;
pointer-events: none;
}

.mobile-card:hover:before {
transform: translateX(-50%) rotate(25deg);
}

.mobile-card:hover {
transform: translateY(-5px);
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.mobile-overlay {
display: none; 
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); 
z-index: 1000; 
}

.mobile-info {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
width: auto; 
max-width: 900px; 
max-height: 100vh;
overflow-y: auto;
position: relative;
margin: 0 10px; 
text-align: center;
transition: all 0.5s ease;
}

.close-button {
position: absolute;
top: 10px;
right: 15px;
cursor: pointer;
font-size: 24px;
color: #ff9900; 
}

.mobile-image {
width: 100%;
height: 400px;
object-fit: cover;
margin-bottom: 15px;
transition: transform 0.3s ease;
border-radius: 8px;
border-radius: 5px; 
}

.mobile-card:hover .mobile-image {
transform: scale(1.05);
}

.mobile-text {
text-align: left;
}


.mobile-card h2, .mobile-card{
margin: 0 0 10px; 
font-size: 1.2rem; 
padding: 0.5rem 0;
}

.mobile-card p {
margin: 0;
font-size: 0.9rem; 
}



.mobile-controls {
text-align: center;
margin: 1rem 0;
}

.prev-mobile,
.next-mobile {
cursor: pointer;
padding: 10px 15px;
background-color: #ab0303;
border: none;
border-radius: 5px;
color: white;
font-size: 1rem;
transition: background-color 0.3s ease;
}

.prev-mobile:hover,
.next-mobile:hover {
background-color: #aa0404;
}




/* desktop */
.desktop-designs h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.desktop-designs {
padding: 1rem 0;
background-color: #f9f9f9;
}

.desktop-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 1.5rem;
justify-content: center;
padding: 0 1.5rem;
}
.desktop-card {
background: #ffffff;
color: #333;
padding: 1rem;
border-radius: 10px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
text-align: center;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.desktop-card:before {
content: '';
position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
transform: translateX(-50%) rotate(15deg);
transition: transform 0.3s ease;
pointer-events: none;
}

.desktop-card:hover:before {
transform: translateX(-50%) rotate(25deg);
}

.desktop-card:hover {
transform: translateY(-5px);
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.desktop-overlay {
display: none; 
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); 
z-index: 1000; 
}

.desktop-info {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
width: auto; 
max-width: 900px; 
max-height: 100vh;
overflow-y: auto;
position: relative;
margin: 0 10px; 
text-align: center;
transition: all 0.5s ease;
}

.close-button {
position: absolute;
top: 10px;
right: 15px;
cursor: pointer;
font-size: 24px;
color: #ff9900; 
}

.desktop-image {
width: 100%;
height: 400px;
object-fit: cover;
margin-bottom: 15px;
transition: transform 0.3s ease;
border-radius: 8px;
border-radius: 5px; 
}

.desktop-card:hover .desktop-image {
transform: scale(1.05);
}

.desktop-text {
text-align: left;
}


.desktop-card h2, .desktop-card{
margin: 0 0 10px; 
font-size: 1.2rem; 
padding: 0.5rem 0;
}

.desktop-card p {
margin: 0;
font-size: 0.9rem; 
}



.desktop-controls {
text-align: center;
margin: 1rem 0;
}

.prev-desktop,
.next-desktop {
cursor: pointer;
padding: 10px 15px;
background-color: #04a301;
border: none;
border-radius: 5px;
color: white;
font-size: 1rem;
transition: background-color 0.3s ease;
}

.prev-desktop:hover,
.next-desktop:hover {
background-color: #139d10;
}







/* website */

.website-designs h1 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-designs {
padding: 1rem 0;
background-color: #f9f9f9;
}

.website-container {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
gap: 1.5rem;
justify-content: center;
padding: 0 1.5rem;
}
.website-card {
background: #ffffff;
color: #333;
padding: 1rem;
border-radius: 10px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
text-align: center;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.website-card:before {
content: '';
position: absolute;
top: 0;
left: 50%;
width: 50%;
height: 100%;
transform: translateX(-50%) rotate(15deg);
transition: transform 0.3s ease;
pointer-events: none;
}

.website-card:hover:before {
transform: translateX(-50%) rotate(25deg);
}

.website-card:hover {
transform: translateY(-5px);
box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.website-overlay {
display: none; 
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); 
z-index: 1000; 
}

.website-info {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
width: auto; 
max-width: 900px; 
max-height: 100vh;
overflow-y: auto;
position: relative;
margin: 0 10px; 
text-align: center;
transition: all 0.5s ease;
}

.close-button {
position: absolute;
top: 10px;
right: 15px;
cursor: pointer;
font-size: 24px;
color: #ff9900; 
}

.website-image {
width: 100%;
height: 400px;
object-fit: cover;
margin-bottom: 15px;
transition: transform 0.3s ease;
border-radius: 8px;
border-radius: 5px; 
}

.website-card:hover .website-image {
transform: scale(1.05);
}

.website-text {
text-align: left;
}


.website-card h2, .website-card{
margin: 0 0 10px; 
font-size: 1.2rem; 
padding: 0.5rem 0;
}

.website-card p {
margin: 0;
font-size: 0.9rem; 
}



.website-controls {
text-align: center;
margin: 1rem 0;
}

.prev-website,
.next-website {
cursor: pointer;
padding: 10px 15px;
background-color: rgb(253, 78, 3); 
border: none;
border-radius: 5px;
color: white;
font-size: 1rem;
transition: background-color 0.3s ease;
}

.prev-website:hover,
.next-website:hover {
background-color: rgb(212, 69, 8); 
}

/* SHOWCASE */
.showcase-description {
    color: #333;
    background: #f9f9f9; 
    padding: 2rem 0; 
    margin: 0; 
}

.showcase-caption {
    color: #E21A0C;
    font-weight: bold;
    font-size: 1.25rem; 
    text-transform: uppercase;
    letter-spacing: 1.5px; 
    margin-bottom: 0.5rem;
}

.showcase-title {
    font-size: 3rem; 
    font-weight: 600;
    color: #102C57; 
    margin: 0.5rem 0 0.5rem 0; 
}

.showcase-text {
    font-size: 1.125rem; 
    line-height: 1.6; 
    color: #555;
    margin-top: 1rem;
}

.showcase-container {
    max-width: 1140px; 
    padding-left: 15px;
    padding-right: 15px; 
}



/* divider */
.divider {
    width: 90%;
    height: 1px; 
    background-color: #dbdada; 
    margin: 20px auto; 
}

/* styles */

.square-symbol {
    color: rgb(255, 81, 7); 
    margin-right: 10px;
    font-size: 1.5em; 
}

.triangle-symbol {
    color: #04a301; 
    margin-right: 10px;
    font-size: 1.5em; 
    display: inline-block;
    transform: translateY(2px); 
}

.circle-symbol {
    color: #ff0000; 
    margin-right: 10px;
    font-size: 2em;
    display: inline-block;
    vertical-align: middle; 
}

.diamond-symbol {
    color: #2200ff; 
    margin-right: 10px;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle; 
    transform: rotate(45deg); 
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .about-me-section {
        padding: 30px;
    }

    .header-section h2 {
        font-size: 2rem; 
    }

    .summary-section h3 {
        font-size: 1.5rem;
    }

    .btn {
        padding: 10px 20px; 
    }

    .about-me-section li:hover {
        transform: translateX(0); 
    }
}

@media (min-width: 768px) {
    .showcase-text {
        font-size: 1.25rem; 
    }
}

  
@media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
    }
  
    .contact-info, .contact-form {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  
  @media (min-aspect-ratio: 16/9) {
    .background-video {
        width: 100%; 
        height: auto; 
    }
}