<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Vincent Obispo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="static\style.css" rel="stylesheet">
  
</head>
<body>
    
    <!-- Navbar content -->
    <nav class="navbar navbar-expand-lg navbar-light sticky-top">
        <div class="container">
            <a class="navbar-brand" href="#">John Vincent Obispo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Showcase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contacts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Table with image and text -->
    <div class="container my-5 profile-section">
        <div class="row">
            <div class="col-md-6 text-center profile-image-container">
                <img id="imageSlider" src="static/OBISPO_BSIT4A (1).png" alt="John Vincent Obispo" class="img-fluid rounded-image">
            </div>
            <div class="col-md-6 align-self-center profile-text-container">
                <h1 class="greeting display-4">Hello!</h1>
                <p class="introduction lead">
                    I'm Vincent, a Web developer and Software Developer based in Zamboanga City.
                </p>
                <p class="contact lead">
                    📞 +639 4576 96432 <br>
                    ✉️ johnvincent.obispo@gmail.com
                </p>
                <a href="#contact-form" class="btn work-with-me-btn">Work with Me</a>
            </div>
        </div>
    </div>

      <!--ABOUT ME -->
    <div class="divider"></div>
    <div class="about-me-section">
        <div class="container">
            <h2>About Me</h2>
            <p><strong>John Vincent C. Obispo</strong></p>
            <p>Zamboanga City, Philippines | <a href="mailto:johnvincent.obispo@gmail.com">johnvincent.obispo@gmail.com</a> | 09457696432</p>
    
            <h3>SUMMARY</h3>
            <p><div class="about-me-section">
                <div class="container">
                    <h2>About Me</h2>
                    <p><strong>John Vincent C. Obispo</strong></p>
                    <p>Zamboanga City, Philippines | <a href="mailto:johnvincent.obispo@gmail.com">johnvincent.obispo@gmail.com</a> | 09457696432</p>
            
                    <h3>SUMMARY</h3>
                    <p><div class="about-me-section">
                        <div class="container">
                            <h2>About Me</h2>
                            <p><strong>John Vincent C. Obispo</strong></p>
                            <p>Zamboanga City, Philippines | <a href="mailto:johnvincent.obispo@gmail.com">johnvincent.obispo@gmail.com</a> | 09457696432</p>
                    
                            <h3>SUMMARY</h3>
                            <p>
                                Versatile Software and Web Developer with a flair for creating user-centric digital solutions and robust databases using HTML, CSS, JavaScript, Bootstrap, Flutter and Firebase. Experienced in the digital collectibles market, A person who brings valuable skills in market analysis, strategic negotiation, and customer service. Adept in graphic design and UI/UX, ensuring functionality meets visual appeal. Proven in project management, excels in team collaboration, and problem-solving, and adapts to evolving environments. Committed to lifelong learning and driving innovation.
                                </p>
                            
                            <!-- You can continue to add the rest of your content here following the same pattern. -->
                    
                            <h3>SKILLS</h3>
                            Can develop Software and Web Development
                            Database: Firestore, Firestore Realtime Database
                            Backend Development: Firebase. Vanilla PHP 
                            Programming Language: HTML, CSS, JavaScript, Bootstrap, Flutter
                            Graphic Design
                            UI/UX Designer
                            Project Management Skill
                            Time management 
                            Problem-solving and critical thinking abilities
                            Strong communication and interpersonal skills
                            Adaptability
                            
                            
                            <h3>PROJECTS</h3>
                            Optimizing Farming Operations: Technology-driven Solutions for Efficient Management, Record Keeping and Agricultural Knowledge Access
                            Designed and implemented a mobile and web-based application for a capstone project
                            Developed an offline-sync-capable mobile app for comprehensive farming management for rural farmers.
                            Created an Android-based app focused on improving farmers' quality of life.
                            Integrated real-time weather updates to aid farmers in making timely, informed decisions.
                            Implemented record-keeping and agricultural calculation functionalities for efficient farm expense monitoring.
                            Enhanced rural farming practices and productivity by providing access to vital agricultural information and techniques.
                            
                            MIGASA: Courseware for Word Document and Excel Spreadsheet
                            Created a desktop-based application as a student in the Software Engineering course.
                            Emphasized the implementation of crucial functionalities within the administrative aspect of the application.
                            Collaborated closely with team members to tackle project challenges and contribute to achieving shared goals.
                            Successfully delivered a modernized user interface tailored to meet the specific needs of our target users.
                            
                            Car Rental System
                            Create a web application as a student in an application development course.
                            A system that facilitates the rental and management of vehicles for individuals and businesses.
                            It Streamlines the process of renting vehicles, managing bookings, and handling various aspects of fleet management.
                            
                            
                            
                            <h3>Experience</h3>
                            Trading Digital Marketing Collectibles (Self-Employed)  – 2021 – Current
Utilize strategic negotiation skills to buy and sell Karuta bits/collectibles, optimizing profit margins.
Analyze market trends to make informed purchasing decisions.
Develop a network of contacts within the Karuta community for sourcing and exchanging collectibles.
Keep abreast of cultural events and updates within the Karuta community to predict market shifts.

                            
                        
                    
                            <div class="download-button-container">
                                <a href="path_to_document/Obispo_Resume.pdf" class="btn btn-primary" download="John_Vincent_Obispo_Resume">Download My Resume</a>
                            </div>
                        </div>
                    </div>
                    .</p>
                    
                    <!-- You can continue to add the rest of your content here following the same pattern. -->
            
                    <h3>SKILLS</h3>
                    <!-- List skills -->
                    
                    <h3>PROJECTS</h3>
                    <!-- List projects -->
                    
                    <h3>EDUCATION</h3>
                    <!-- List education -->
                    
                    <h3>Experience</h3>
                    <!-- List experience -->
                    
                    <h3>Personal Information</h3>
                    <!-- List personal information -->
            
                    <div class="download-button-container">
                        <a href="path_to_document/Obispo_Resume.pdf" class="btn btn-primary" download="John_Vincent_Obispo_Resume">Download My Resume</a>
                    </div>
                </div>
            </div>
            </p>
            
            <!-- You can continue to add the rest of your content here following the same pattern. -->
    
            <h3>SKILLS</h3>
            <!-- List skills -->
            
            <h3>PROJECTS</h3>
            <!-- List projects -->
            
            <h3>EDUCATION</h3>
            <!-- List education -->
            
            <h3>Experience</h3>
            <!-- List experience -->
            
            <h3>Personal Information</h3>
            <!-- List personal information -->
    
            <div class="download-button-container">
                <a href="path_to_document/Obispo_Resume.pdf" class="btn btn-primary" download="John_Vincent_Obispo_Resume">Download My Resume</a>
            </div>
        </div>
    </div>
    


                <!--SHOWCASES -->
                <div class="divider"></div>
                <section class="graphic-designs">
                        <h1>Graphic Designs</h1>
                        <div class="graphic-container">
                            <div class="graphic-card" onclick="toggleGraphicInfo(this)">
                                <img src="static/billie.png" alt="Graphic Image" class="graphic-image">
                                <h2>Showcase Title</h2>
                                <p>Short description about the showcase goes here.</p>
                            </div>
                            <div class="graphic-overlay" onclick="toggleGraphicInfo(document.querySelector('.graphic-card.graphic-opened'))">
                                <div class="graphic-info">
                                    <span class="close-button" onclick="toggleGraphicInfo()" aria-label="Close">X</span>
                                    <div class="graphic-content">
                                        <img src="static/billie.png" alt="Graphic Image" class="graphic-image">
                                        <div class="graphic-text">
                                            <h3>Showcase Title</h3>
                                            <p>Description of the showcase goes here.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                </section>
                    

                <div class="divider"></div>
                <section class="mobile-designs">
                    <h1>Mobile Applications</h1>
                    <div class="mobile-container">
                        <div class="mobile-card" onclick="toggleMobileInfo(this)">
                            <img src="static/billie.png" alt="mobile Image" class="mobile-image">
                            <h2>Showcase Title</h2>
                            <p>Short description about the showcase goes here.</p>
                        </div>
                        <div class="mobile-overlay" onclick="toggleMobileInfo(document.querySelector('.mobile-card.mobile-opened'))">
                            <div class="mobile-info">
                                <span class="close-button" onclick="toggleMobileInfo()" aria-label="Close">X</span>
                                <div class="mobile-content">
                                    <img src="static/billie.png" alt="mobile Image" class="mobile-image">
                                    <div class="mobile-text">
                                        <h3>Showcase Title</h3>
                                        <p>Description of the showcase goes here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
            </section>


                <div class="divider"></div>
                <section class="desktop-designs">
                    <h1>Desktop Applications</h1>
                    <div class="desktop-container">
                        <div class="desktop-card" onclick="togglDesktopInfo(this)">
                            <img src="static/billie.png" alt="desktop Image" class="desktop-image">
                            <h2>Showcase Title</h2>
                            <p>Short description about the showcase goes here.</p>
                        </div>
                        <div class="desktop-overlay" onclick="togglDesktopInfo(document.querySelector('.desktop-card.desktop-opened'))">
                            <div class="desktop-info">
                                <span class="close-button" onclick="togglDesktopInfo()" aria-label="Close">X</span>
                                <div class="desktop-content">
                                    <img src="static/billie.png" alt="desktop Image" class="desktop-image">
                                    <div class="desktop-text">
                                        <h3>Showcase Title</h3>
                                        <p>Description of the showcase goes here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
            </section>
                                    
                <div class="divider"></div>
                <section class="website-designs">
                    <h1>Website Designs</h1>
                    <div class="website-container">
                        <div class="website-card" onclick="toggleWebsiteInfo(this)">
                            <img src="static/billie.png" alt="website Image" class="website-image">
                            <h2>Showcase Title</h2>
                            <p>Short description about the showcase goes here.</p>
                        </div>
                        <div class="website-overlay" onclick="toggleWebsiteInfo(document.querySelector('.website-card.website-opened'))">
                            <div class="website-info">
                                <span class="close-button" onclick="toggleWebsiteInfo()" aria-label="Close">X</span>
                                <div class="website-content">
                                    <img src="static/billie.png" alt="website Image" class="website-image">
                                    <div class="website-text">
                                        <h3>Showcase Title</h3>
                                        <p>Description of the showcase goes here.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
            </section>



<!--HEADER IMAGE CHANGE-->
    <script>
      var imageUrls = [
    "static/billie.png",
    "static/tyler (1).png",
    "static/Atilano,Asakil,Bari,In-naka,Obispo.png",
];

var currentImageIndex = 0;

function fadeImage() {
    var img = document.getElementById('imageSlider');
    img.style.opacity = 0; // Fade out
}

function updateImage() {
    var img = document.getElementById('imageSlider');
    img.style.opacity = 0; // Start by fading out the current image
    
    setTimeout(function() {
        // Once the fade-out is complete, change the image source
        img.src = imageUrls[currentImageIndex];
        // Immediately start fading in the new image
        img.style.opacity = 1;
        // Prepare the index for the next image, wrapping back to 0 if at the end
        currentImageIndex = (currentImageIndex + 1) % imageUrls.length;
    }, 500); // This timeout should match the CSS opacity transition duration
}



setInterval(function() {
    fadeImage(); // Start the fade-out
    updateImage(); // Then update the image after a fade-out
}, 5000);

    </script>

                <!--GRAPHIC-->
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        function toggleGraphicInfo(card) {
                            if (card) {
                                card.classList.toggle('graphic-opened');
                            }
                            var overlay = document.querySelector('.graphic-overlay');
                            var image = overlay.querySelector('.graphic-image');
                            
                            overlay.style.display = (overlay.style.display === "flex") ? "none" : "flex";
                            
                            if (image) {
                                image.classList.toggle('smaller-image');
                            }
                        }
                    
                        document.querySelector('.graphic-info').addEventListener('click', function(event) {
                            event.stopPropagation();
                        });
                    
                        window.toggleGraphicInfo = toggleGraphicInfo; 
                    });
                    </script>
                    

                <!--MOBILE-->
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        function toggleMobileInfo(card) {
                            if (card) {
                                card.classList.toggle('mobile-opened');
                            }
                            var overlay = document.querySelector('.mobile-overlay');
                            var image = overlay.querySelector('.mobile-image');
                            
                            overlay.style.display = (overlay.style.display === "flex") ? "none" : "flex";
                            
                            if (image) {
                                image.classList.toggle('smaller-image');
                            }
                        }
                    
                        document.querySelector('.mobile-info').addEventListener('click', function(event) {
                            event.stopPropagation();
                        });
                    
                        window.toggleMobileInfo = toggleMobileInfo; 
                    });
                    </script>

                <!--DESKTOP-->
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        function togglDesktopInfo(card) {
                            if (card) {
                                card.classList.toggle('desktop-opened');
                            }
                            var overlay = document.querySelector('.desktop-overlay');
                            var image = overlay.querySelector('.desktop-image');
                            
                            overlay.style.display = (overlay.style.display === "flex") ? "none" : "flex";
                            
                            if (image) {
                                image.classList.toggle('smaller-image');
                            }
                        }
                    
                        document.querySelector('.desktop-info').addEventListener('click', function(event) {
                            event.stopPropagation();
                        });
                    
                        window.togglDesktopInfo = togglDesktopInfo; 
                    });
                    </script>

                <!--WEBSITE-->
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        function toggleWebsiteInfo(card) {
                            if (card) {
                                card.classList.toggle('website-opened');
                            }
                            var overlay = document.querySelector('.website-overlay');
                            var image = overlay.querySelector('.website-image');
                            
                            overlay.style.display = (overlay.style.display === "flex") ? "none" : "flex";
                            
                            if (image) {
                                image.classList.toggle('smaller-image');
                            }
                        }
                    
                        document.querySelector('.website-info').addEventListener('click', function(event) {
                            event.stopPropagation();
                        });
                    
                        window.toggleWebsiteInfo = toggleWebsiteInfo; 
                    });
                    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
