{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Vincent Obispo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

<link rel = "stylesheet" href = "{% static 'style.css' %}">
<link rel = "stylesheet" href = "{% static 'animation.css' %}">
<link href="static/style.css" rel="stylesheet">
  
</head>

<body>


    <!-- Navbar content -->


    <nav class="navbar-expand-lg navbar-light ">
        <div class=" navbar-container">
            <img src="static/logo.png" alt="John Vincent C. Obispo" class="nav-image">
            <a class="navbar-brand" href="#" style="font-weight: 700;">John Vincent Obispo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto" style="font-weight: 500;">
                    <li class="nav-item">
                        <a class="nav-link" href="#showcase-section" style="color: crimson">Showcase</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#aboutMe-section">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact-section">Contacts</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    <!-- Table with image and text -->
    <div class="container my-5">
        <div class="row">
            <div class="col-md-6 text-center profile-image-container">
                <img id="imageSlider" src="static/OBISPO_BSIT4A (1).png" alt="John Vincent Obispo" class="img-fluid rounded-image">
            </div>
            <div class="col-md-6 align-self-center profile-text-container">
                <div class="text-left">
                    <h1 class="greeting display-1" style="font-weight: 600;">Hello!</h1>
                    <p class="introduction lead" >
                        I'm Vincent, a Web developer and Software Developer based in Zamboanga City.
                    </p>
                </div>
             
                <div class="social-media-icons">
                    <a href="https://twitter.com/yourusername" target="_blank" class="icon-container twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="https://instagram.com/yourusername" target="_blank" class="icon-container instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://facebook.com/yourusername" target="_blank" class="icon-container facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://pinterest.com/yourusername" target="_blank" class="icon-container pinterest">
                        <i class="fab fa-pinterest"></i>
                    </a>
                
                </div>
                <a href="#contact-section" class="btn work-with-me-btn">Work with Me</a>
            </div>
        </div>
    </div>

    <div class="divider"></div>


<!-- ABOUT ME -->
<div class="about-me-section"  id="aboutMe-section" data-aos="fade-zoom-in"
data-aos-easing="ease-in-back"
data-aos-delay="300"
data-aos-offset="0">

    <div class="container">
            <div class="row">
                <div class="col profile-image-container">
                    <img src="static/billie.png" alt="John Vincent C. Obispo" class="profile-image">
                    <p class="name"><strong>John Vincent C. Obispo</strong></p>
                    <p class="location">Zamboanga City, Philippines</p>
                    <p class="email"><a href="mailto:johnvincent.obispo@gmail.com" style="color: rgb(11, 0, 126);">johnvincent.obispo@gmail.com</a></p>
                    <p class="phone">+639 4576 96432</p>
                </div>

                <div class="col ">
                    <div class="header-section">
                        <h2>About Me</h2>
                    </div>
                    <div class="summary-section">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, alias. Nostrum quae voluptatibus quis reiciendis aut iure deserunt repudiandae soluta magni, eius dicta voluptatem excepturi, dolorem dolor accusamus possimus veritatis.</p>
                    </div>
                    <div class="download-button-container">
                        <a href="path_to_document/Obispo_Resume.pdf" class="btn" download="John_Vincent_Obispo_Resume">
                            <i class="fa fa-download"></i> Download My Resume
                        </a>
                    </div>                
                </div>
            </div>
        </div>
    </div>

<!-- showcase description -->
<section class="showcase-description"  id="showcase-section" data-aos="fade-zoom-in"
data-aos-easing="ease-in-back"
data-aos-delay="300"
data-aos-offset="0" >
    <div class="showcase-container">
        <div class="row">
            <div class="col-md-6 showcase-left">
                <p class="showcase-title"><span class="square-symbol-showcase ">&#9632;</span> SHOWCASE</p>
                <h2 class="showcase-caption">JOHN VINCENT C. OBISPO</h2>
            </div>
            <div class="col-md-6 showcase-right">
                <p class="showcase-text"> Here, you'll discover a variety of my recent work, ranging from web applications to mobile apps, all crafted to address real-world challenges while showcasing my skills and creativity.</p>
            </div>
        </div>
    </div>
</section>



    

                <!--SHOWCASES -->
                <div class="graphic-designs" id="showcase-section" data-aos="fade-zoom-in"
                data-aos-easing="ease-in-back"
                data-aos-delay="300"
                data-aos-offset="0" >
                <div class="divider"></div>
                    <h1><span class="diamond-symbol">&#9670;</span> My Projects</h1>
        
                    <div class="graphic-container">
                        <div class="graphic-card" onclick="toggleGraphicInfo(this)">
                            <img src="static/billie.png" alt="Graphic Image" class="graphic-image">
                            <h2>Showcase Title</h2>
                            <p>Short description about the showcase goes here. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore corporis quas magni repellat ut, dolorum voluptatum maxime provident sunt consectetur ipsa, rem animi doloribus. Accusantium perferendis quas asperiores. Quas, omnis.</p>
                        </div>
                        <div class="graphic-card" onclick="toggleGraphicInfo(this)">
                            <img src="static/billie.png" alt="Graphic Image" class="graphic-image">
                            <h2>Showcase Title</h2>
                            <p>Short description about the showcase goes here.</p>
                        </div>
                            <div class="graphic-card" onclick="toggleGraphicInfo(this)">
                            <img src="static/billie.png" alt="Graphic Image" class="graphic-image">
                            <h2>Showcase Title</h2>
                            <p>Short description about the showcase goes here.</p>
                        </div>
                        <div class="graphic-card" onclick="toggleGraphicInfo(this)">
                            <img src="static/billie.png" alt="Graphic Image" class="graphic-image">
                            <h2>Showcase Title</h2>
                            <p>TITETETETETE</p>
                        </div>
                        <div class="graphic-card" onclick="toggleGraphicInfo(this)">
                            <img src="static/billie.png" alt="Graphic Image" class="graphic-image">
                            <h2>Showcase Title</h2>
                            <p>STETETTEET3413412412here.</p>
                        </div>
                    </div>
                    <div class="graphic-controls">
                        <button class="prev-graphic">&#10094;</button>
                        <button class="next-graphic">&#10095;</button>
                    </div>
                    <div class="graphic-overlay" onclick="toggleGraphicInfo(document.querySelector('.graphic-card.graphic-opened'))">
                        <div class="graphic-info">
                            <span class="close-button" onclick="toggleGraphicInfo()">x</span>
                            <div class="graphic-content">
                                <div id="graphicCarousel" class="carousel">
                                    <div class="carousel-images">
                                        <img src="static/quartz.jpg" alt="Graphic Image" class="graphic-image">
                                        <img src="static/tyler (1).png" alt="Graphic Image" class="graphic-image">
                                        <img src="static/logo.png" alt="Graphic Image" class="graphic-image">
                                        <img src="static/billie.png" alt="Graphic Image" class="graphic-image">
                                    </div>
                                    <button class="carousel-button prev" onclick="moveSlide(-1)">&#10094;</button>
                                    <button class="carousel-button next" onclick="moveSlide(1)">&#10095;</button>
                                </div>
                                <div class="graphic-text">
                                    <h3>Showcase Title</h3>
                                    <p>Description of the showcase goes here.</p>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>

                
    
            
                  
            <!-- CONTACT ME -->
            <div class="contact-container" id="contact-section" data-aos="fade-zoom-in"
            data-aos-easing="ease-in-back"
            data-aos-delay="300"
            data-aos-offset="0">
                <div class="contact-info" >
                  <h2>Contact</h2>
                  <div class="info-section">
                    <span class="icon">&#128172;</span>
                    <div class="info">
                      <h3 style="color: orange;">Ask me?</h3>
                      <p>I'm here to answer your questions. johnvincent.obispo@gmail.com</p>
                    </div>
                  </div>
                
                  <div class="info-section">
                    <span class="icon">&#128222;</span>
                    <div class="info">
                      <h3 style="color: orangered">Call Me</h3>
                      <p>Mon-Fri from 8am to 11pm. +639 4576 96432</p>
                    </div>
                  </div>
                </div>
                <div class="contact-form">
                  <h2>Got Ideas? Let's team up.</h2>
                  <form>
                    <input type="text" placeholder="First Name *" required>
                    <input type="email" placeholder="Email *" required>
                    <input type="text" placeholder="Subject *" required>
                    <textarea placeholder="Your message *" required></textarea>
                    <button type="submit" >Send Message</button>
                  </form>
                </div>
              </div>
        

              <!-- redirection -->
              <script>
                document.addEventListener("DOMContentLoaded", function() {
                    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                        anchor.addEventListener('click', function (e) {
                            e.preventDefault();
                
                            document.querySelector(this.getAttribute('href')).scrollIntoView({
                                behavior: 'smooth'
                            });
                        });
                    });
                });
                </script>
                
                <!--HEADER IMAGE CHANGE-->
                    <script>
                    var imageUrls = [
                    "static/billie.png",
                    "static/tyler (1).png",
                    "static/Atilano,Asakil,Bari,In-naka,Obispo.png",
                ];

                var currentImageIndex = 0;

                function fadeImage() {
                    var img = document.getElementById('imageSlider');
                    img.style.opacity = 0; 
                }

                function updateImage() {
                    var img = document.getElementById('imageSlider');
                    img.style.opacity = 0; 
                    
                    setTimeout(function() {
                        img.src = imageUrls[currentImageIndex];
                        img.style.opacity = 1;
                        currentImageIndex = (currentImageIndex + 1) % imageUrls.length;
                    }, 500); 
                }



                setInterval(function() {
                    fadeImage(); 
                    updateImage(); 
                }, 5000);

                    </script>

                <!--GRAPHIC-->
                <script>
                   document.addEventListener('DOMContentLoaded', function() {
    let currentSlide = 0;
    const slides = document.querySelectorAll('.carousel-images img');
    const totalSlides = slides.length;

    function showSlide(index) {
        slides.forEach((slide, idx) => {
            slide.classList.remove('active');
            if (idx === index) {
                slide.classList.add('active');
            }
        });
    }

    function moveSlide(step) {
        currentSlide = (currentSlide + step + totalSlides) % totalSlides;
        showSlide(currentSlide);
    }

    showSlide(currentSlide);

    var index = 0;
    var graphicCards = document.querySelectorAll('.graphic-card');
    var totalCards = graphicCards.length;
    
    function updateDisplay() {
        graphicCards.forEach((card, idx) => {
            card.style.display = idx >= index && idx < index + 3 ? 'block' : 'none';
        });
    }

    document.querySelector('.prev-graphic').addEventListener('click', function() {
        index = Math.max(index - 1, 0);
        updateDisplay();
    });

    document.querySelector('.next-graphic').addEventListener('click', function() {
        index = Math.min(index + 1, totalCards - 3);
        updateDisplay();
    });

    updateDisplay();

    var overlay = document.querySelector('.graphic-overlay');

    graphicCards.forEach(function(card) {
        card.addEventListener('click', function() {
            var graphicImage = card.querySelector('.graphic-image').src;
            var graphicTitle = card.querySelector('h2').textContent;
            var graphicDesc = card.querySelector('p').textContent;
            
            slides[0].src = graphicImage;
            slides[0].classList.add('active'); 
            overlay.querySelector('.graphic-text h3').textContent = graphicTitle;
            overlay.querySelector('.graphic-text p').textContent = graphicDesc;
            
            currentSlide = 0;
            showSlide(currentSlide);

            overlay.style.display = 'flex';
        });
    });

    overlay.querySelector('.close-button').addEventListener('click', function() {
        overlay.style.display = 'none';
    });

    overlay.addEventListener('click', function(event) {
        if (event.target == overlay) {
            overlay.style.display = 'none';
        }
    });

    document.querySelector('.carousel .prev').addEventListener('click', function() {
        moveSlide(-1);
    });

    document.querySelector('.carousel .next').addEventListener('click', function() {
        moveSlide(1);
    });
});

function toggleGraphicInfo() {
   
}
                    </script>
                    




                            <!--ANIMATION ON SCROLL AOS  -->
                            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
                            <script>
                                AOS.init();
                              </script>

                              <!-- chase animation -->
                       
         

    <script async src="https://tenor.com/embed.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.5/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
